@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600&display=swap);.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header nav img {
  padding: 10px;
}

header nav li {
  display: inline;
  padding: 10px;
}

header nav li a {
  padding: 0 6px 61px 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
}

header nav li a.active,
header nav li a:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

.Jumbotron {
  height: 350px;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 10px;
  background-color: #000;
  color: #fff;
  position: relative;
}

main span {
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  position: absolute;
  top: -17px;
}

main button {
  background-color: #0282F9;
  border: none;
  padding: 6px 36px 6px 36px;
}

main button a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

main .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #0282F9;
  height: 150px;
}

.product img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .product-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.product .product-list .card {
  display: flex;
  align-items: center;
}

.product .product-list .card a {
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

footer .footer-top {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

footer .footer-top .footer-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .footer-bottom {
  height: 150px;
  background-color: #252525;
}

footer .footer-bottom .footer-bottom-items {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .left button {
  background: none;
  border: solid 2px #0282F9;
  padding: 10px;
}

footer .footer-bottom .footer-bottom-items .left button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

footer .footer-bottom .footer-bottom-items .right {
  display: flex;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .right span {
  text-transform: uppercase;
  color: #0282F9;
  padding-right: 10px;
  font-weight: bold;
}

footer .footer-bottom .footer-bottom-items .right a {
  padding: 8px;
}

