@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600&display=swap);@charset "UTF-8";
.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .header-top {
  text-align: right;
  padding: 5px 0px;
  background-color: #0282F9;
}

header .header-top span {
  padding-left: 40px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header nav img {
  padding: 10px;
}

header nav .nav-right {
  display: flex;
}

header nav .nav-right li {
  display: inline;
  padding: 10px;
}

header nav .nav-right li a {
  padding: 0 6px 67px 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
}

header nav .nav-right li a.active,
header nav .nav-right li a:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

header nav .nav-right .input-box {
  border-bottom: solid 2px #0282F9;
  margin-left: 50px;
  width: 125px;
  color: #252525;
  position: relative;
}

header nav .nav-right .input-box input {
  width: 100%;
  border: none;
  text-align: right;
  padding: 5px 23px 5px 0px;
}

header nav .nav-right .input-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box ::-moz-placeholder {
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box ::placeholder {
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 3px;
}

header nav .nav-right .input-box input:focus {
  outline: none;
}

.Jumbotron {
  height: 350px;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.comics-main {
  background-color: #000;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

.comics-main span.label-series {
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  position: absolute;
  top: -17px;
}

.comics-main button {
  background-color: #0282F9;
  border: none;
  padding: 6px 36px 6px 36px;
}

.comics-main button a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.comics-main .content {
  display: flex;
  flex-wrap: wrap;
}

.comics-main .content button {
  margin: 0 auto;
}

.tv-main {
  background-color: #000;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

.tv-main .content {
  display: flex;
  flex-wrap: wrap;
}

.tv-main .content button {
  margin: 0 auto;
}

.product-card {
  width: 16.6666666667%;
  padding: 20px;
}

.product-card .photo-card {
  width: 185px;
  height: 185px;
  overflow: hidden;
}

.product-card p {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.film-card {
  width: 16.6666666667%;
  padding: 20px;
}

.film-card .film-photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.film-card p {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.product {
  background-color: #0282F9;
  height: 150px;
}

.product img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .product-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.product .product-list .card {
  display: flex;
  align-items: center;
}

.product .product-list .card a {
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

footer .footer-top {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

footer .footer-top .footer-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .footer-bottom {
  height: 150px;
  background-color: #252525;
}

footer .footer-bottom .footer-bottom-items {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .left button {
  background: none;
  border: solid 2px #0282F9;
  padding: 10px;
}

footer .footer-bottom .footer-bottom-items .left button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

footer .footer-bottom .footer-bottom-items .right {
  display: flex;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .right span {
  text-transform: uppercase;
  color: #0282F9;
  padding-right: 10px;
  font-weight: bold;
}

footer .footer-bottom .footer-bottom-items .right a {
  padding: 8px;
}

.col {
  padding: 10px;
}

.col h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.col li {
  list-style: none;
}

.col li a {
  text-decoration: none;
  color: #797979;
  font-size: 12px;
  padding: 10px 0 10px 0;
}

.comic {
  height: 100px;
  background-color: #0282F9;
}

.comic .comic-cover {
  position: absolute;
  width: 200px;
  border: solid 2px #fff;
  margin-top: -250px;
}

.comic .comic-cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comic .comic-cover .cover-text {
  position: absolute;
  color: #fff;
  background-color: #00a9d9;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 10px 4px 10px;
}

.comic .comic-cover .cover-text.up {
  top: 0;
  left: 50;
}

.comic .comic-cover .cover-text.down {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.comic .comic-cover .cover-text.down a {
  text-decoration: none;
  color: #fff;
}

.main-page {
  display: flex;
  padding: 50px 0px;
}

.main-page .details-comic {
  padding-right: 40px;
}

.main-page .details-comic h1 {
  text-transform: uppercase;
  color: #003f5e;
}

.main-page .details-comic .price-comic {
  display: flex;
  justify-content: space-between;
  background-color: #55ba59;
  color: #fff;
  border-bottom: 1px solid #252525;
  margin: 20px 0px;
}

.main-page .details-comic .price-comic .available {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 15px;
  border-right: 1px solid #252525;
  font-weight: 600;
}

.main-page .details-comic .price-comic .available .transparent {
  opacity: 0.8;
}

.main-page .details-comic .price-comic .available .transparent.upper {
  text-transform: uppercase;
}

.main-page .details-comic .price-comic .check-available {
  padding: 15px;
  font-weight: 600;
}

.main-page .details-comic .price-comic .check-available span::after {
  content: "\25BC";
  color: #fff;
  font-size: 8px;
  vertical-align: middle;
}

.main-page .details-comic .description-comic {
  color: #797979;
  font-size: 18px;
  line-height: 1.6;
}

.main-page .ad {
  color: #797979;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}

.info-comic {
  background-color: #f6f6f6;
  padding-bottom: 90px;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
}

.info-comic .container {
  display: flex;
}

.info-comic .container .talent {
  width: 50%;
  padding-right: 40px;
}

.info-comic .container .talent .element-list {
  color: #00a9d9;
}

.info-comic .container .talent h2 {
  padding: 20px 0;
  color: #003f5e;
}

.info-comic .container .talent .art,
.info-comic .container .talent .written {
  display: flex;
  padding: 10px 0;
  border-top: 2px solid #ebebeb;
}

.info-comic .container .talent .art h3,
.info-comic .container .talent .written h3 {
  color: #003f5e;
  width: 30%;
}

.info-comic .container .talent .art p,
.info-comic .container .talent .written p {
  width: 70%;
}

.info-comic .container .talent .written {
  border-bottom: 2px solid #ebebeb;
}

.info-comic .container .specs {
  width: 50%;
}

.info-comic .container .specs h2 {
  padding: 20px 0;
  color: #003f5e;
}

.info-comic .container .specs .series,
.info-comic .container .specs .price,
.info-comic .container .specs .sale {
  display: flex;
  padding: 10px 0;
  border-top: 2px solid #ebebeb;
}

.info-comic .container .specs .series h4,
.info-comic .container .specs .price h4,
.info-comic .container .specs .sale h4 {
  color: #003f5e;
  width: 30%;
}

.info-comic .container .specs .series span,
.info-comic .container .specs .price span,
.info-comic .container .specs .sale span {
  width: 70%;
}

.info-comic .container .specs .series span {
  color: #00a9d9;
  font-weight: 600;
  text-transform: uppercase;
}

.info-comic .container .specs .sale {
  border-bottom: 2px solid #ebebeb;
}

.CTA {
  background-color: #f6f6f6;
}

.CTA .container {
  display: flex;
}

.CTA .container .cta-card {
  width: 25%;
  border-left: 2px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 100px;
}

.CTA .container .cta-card h4 {
  color: #d5d5d5;
}

.CTA .container .cta-card img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.CTA .container .cta-card:last-child {
  border-right: 2px solid #ebebeb;
}

