@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600&display=swap);.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .header-top {
  text-align: right;
  padding: 5px 0px;
  background-color: #0282F9;
}

header .header-top span {
  padding-left: 40px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header nav img {
  padding: 10px;
}

header nav .nav-right {
  display: flex;
}

header nav .nav-right li {
  display: inline;
  padding: 10px;
}

header nav .nav-right li a {
  padding: 0 6px 67px 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
}

header nav .nav-right li a.active,
header nav .nav-right li a:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

header nav .nav-right .input-box {
  border-bottom: solid 2px #0282F9;
  margin-left: 50px;
  width: 125px;
  color: #252525;
  position: relative;
}

header nav .nav-right .input-box input {
  width: 100%;
  border: none;
  text-align: right;
  padding: 5px 10px 5px 0px;
}

header nav .nav-right .input-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box ::-moz-placeholder {
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box ::placeholder {
  color: #252525;
  font-weight: bold;
}

header nav .nav-right .input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 3px;
}

header nav .nav-right .input-box input:focus {
  outline: none;
}

.Jumbotron {
  height: 350px;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 10px;
  background-color: #000;
  color: #fff;
  position: relative;
}

main span {
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  position: absolute;
  top: -17px;
}

main button {
  background-color: #0282F9;
  border: none;
  padding: 6px 36px 6px 36px;
}

main button a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

main .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 16.6666666667%;
  padding: 20px;
}

.product-card .photo-card {
  width: 185px;
  height: 185px;
  overflow: hidden;
}

.product-card p {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.product {
  background-color: #0282F9;
  height: 150px;
}

.product img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .product-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.product .product-list .card {
  display: flex;
  align-items: center;
}

.product .product-list .card a {
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

footer .footer-top {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

footer .footer-top .footer-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .footer-bottom {
  height: 150px;
  background-color: #252525;
}

footer .footer-bottom .footer-bottom-items {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .left button {
  background: none;
  border: solid 2px #0282F9;
  padding: 10px;
}

footer .footer-bottom .footer-bottom-items .left button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

footer .footer-bottom .footer-bottom-items .right {
  display: flex;
  align-items: center;
}

footer .footer-bottom .footer-bottom-items .right span {
  text-transform: uppercase;
  color: #0282F9;
  padding-right: 10px;
  font-weight: bold;
}

footer .footer-bottom .footer-bottom-items .right a {
  padding: 8px;
}

.col {
  padding: 10px;
}

.col h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.col li {
  list-style: none;
}

.col li a {
  text-decoration: none;
  color: #797979;
  font-size: 12px;
  padding: 10px 0 10px 0;
}

