//comic
.comic{
    height: 100px;
    background-color: $secondaryColor;

    .comic-cover{
        position: absolute;
        width: 200px;
        border: solid 2px $tertiaryColor;
        margin-top: -250px;

        img{
            width: 100%;
            object-fit: cover;
        }
        .cover-text{
            position: absolute;
            color: $tertiaryColor;
            background-color: $quinaryColor;
            text-transform: uppercase;
            font-weight: bold;
            padding: 4px 10px 4px 10px;

            &.up{
                top: 0;
                left: 50;
            }

            &.down{
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;

                a{
                    text-decoration: none;
                    color: $tertiaryColor;
                }
            }
        }
        
    }

    
}
//main page
.main-page{   
    display: flex; 
    padding: 50px 0px;

    .details-comic{
        padding-right: 40px;

        h1{
            text-transform: uppercase;
            color: $septenaryColor;
        }

        .price-comic{
            display: flex;
            justify-content: space-between;
            background-color: $octonaryColor;
            color: $tertiaryColor;
            border-bottom: 1px solid $primaryColor;
            margin: 20px 0px;

            .available{
                display: flex;
                justify-content: space-between;
                width: 80%;
                padding: 15px;
                border-right: 1px solid $primaryColor;
                font-weight: 600;

                .transparent{
                    opacity: 0.8;

                    &.upper{
                        text-transform: uppercase;
                    }
                }
            }
            .check-available{
                padding: 15px;
                font-weight: 600;
                span::after{
                    content: '\25BC';
                    color: $tertiaryColor;
                    font-size: 8px;
                    vertical-align: middle;
                }
            }
        }

        .description-comic{
            color: $quaternaryColor;
            font-size: 18px;
            line-height: 1.6;
        }
    }

    .ad{
        color: $quaternaryColor;
        text-align: right;
        text-transform: uppercase;
        font-size: 12px;
    }
}

//info comic
.info-comic{
    background-color: $senaryColor;
    padding-bottom: 90px;
    border-top: 2px solid $nonaryColor;
    border-bottom: 2px solid $nonaryColor;

    .container{
        display: flex;

        .talent{
            width: 50%;
            padding-right: 40px;

            .element-list{
                color: $quinaryColor;
            }

            h2{
                padding: 20px 0;
                color: $septenaryColor;
            }

            .art,
            .written{
                display: flex;
                padding: 10px 0;
                border-top: 2px solid $nonaryColor;

                h3{
                    color: $septenaryColor;
                    width: 30%;
                }
                p{
                    width: 70%;
                }
            }

            .written{
                border-bottom: 2px solid $nonaryColor;
            }
        }

        .specs{
            width: 50%;

            h2{
                padding: 20px 0;
                color: $septenaryColor;
            }

            .series,
            .price,
            .sale{
                display: flex;
                padding: 10px 0;
                border-top: 2px solid $nonaryColor;

                h4{
                    color: $septenaryColor;
                    width: 30%;
                }
                span{
                    width: 70%;
                }
            }

            .series span{
                color: $quinaryColor;
                font-weight: 600;
                text-transform: uppercase;
            }
            .sale{
                border-bottom: 2px solid $nonaryColor;
            }


        }
    }
}

//CTA
.CTA{
    background-color: $senaryColor;

    .container{
        display: flex;

        .cta-card{
            width: 25%;
            border-left: 2px solid $nonaryColor;
            display: flex;
            justify-content: space-between;
            padding: 30px;
            height: 100px;

            h4{
                color: $denaryColor;
            }
            img{
                width: 50px;
                height: 50px;
                object-fit: contain;
               
            }

        }
        .cta-card:last-child {
            border-right: 2px solid $nonaryColor;
        }
    }
}