header {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;

        img{
            padding: 10px;
        }
    
        li{
            display: inline;
            padding: 10px;
        
            a{
                padding:0 6px 61px 6px ;
        
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: $primaryColor;
                
        
                &.active,
                &:hover{
                color: $secondaryColor;
                border-bottom: 4px solid $secondaryColor;
                }
            
            }
        }
    }  
}
