header {
    //header top
    .header-top{
        text-align: right;
        padding: 5px 0px;
        background-color: $secondaryColor;

        span{
            padding-left: 40px;
            color: $tertiaryColor;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    //header bottom
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;

        img{
            padding: 10px;
        }

        .nav-right{
            display: flex;

            li{
                display: inline;
                padding: 10px;
            
                a{
                    padding:0 6px 67px 6px ;
            
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    color: $primaryColor;
                    
            
                    &.active,
                    &:hover{
                    color: $secondaryColor;
                    border-bottom: 4px solid $secondaryColor;
                    }
                
                }
            } 
            
            .input-box{
                border-bottom: solid 2px $secondaryColor;
                margin-left: 50px;
                width: 125px;
                color: $primaryColor; 
                position: relative;

                input{
                    width: 100%;
                    border: none;
                    text-align: right;
                    padding: 5px 23px 5px 0px;  
                    
                    
                }
                //cambio del colore del placeholder della input box fonte: W3School
                ::-webkit-input-placeholder { /* Edge */
                    color: $primaryColor;
                    font-weight: bold;
                }
                
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $primaryColor;
                    font-weight: bold;
                }
                
                ::placeholder {
                    color: $primaryColor;
                    font-weight: bold;
                }

                i{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-40%);
                    right: 3px;
                }
                //eliminazione del focus sull'input box
                input:focus{
                    outline: none;
                }
            }
            
        }
    
        
    }  
}
