$primaryColor: #252525;
$secondaryColor:#0282F9;
$tertiaryColor: #fff;
$quaternaryColor:#797979;
$quinaryColor: #00a9d9;
$senaryColor: #f6f6f6;
$septenaryColor: #003f5e;
$octonaryColor:#55ba59;
$nonaryColor: #ebebeb;